@import url(./layout/normalize.css);
@import url(./layout/fonts.css);
@import url(./layout/base.css);

@import url(./blocks/banner.css);
@import url(./blocks/bottom.css);
@import url(./blocks/contacts.css);
@import url(./blocks/news.css);
@import url(./blocks/header.css);
@import url(./blocks/logo.css);
@import url(./blocks/pagecontent.css);
@import url(./blocks/pagination.css);
@import url(./blocks/sidebar.css);
@import url(./blocks/social.css);
@import url(./blocks/tariff.css);
@import url(./blocks/maincontent.css);
@import url(./blocks/breadcrumbs.css);
@import url(./blocks/feeds.css);
@import url(./blocks/commercial.css);
@import url(./blocks/form.css);
@import url(./blocks/team.css);
@import url(./blocks/welcome.css);
@import url(./blocks/dropdown.css);
@import url(./blocks/partners.css);