html {
  height: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
ul {
  margin: 0px;
  padding: 0px;
}
ul li {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.container {
  width: 1100px;
  margin: 0 auto;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.wrapper__content {
  flex: 1;
}
* {
  box-sizing: border-box;
}
