.breadcrumbs {
  margin-top: 32px;
}
.breadcrumbs__list {
  display: flex;
  align-items: center;
}
.breadcrumbs__item:after {
  content: "/";
}
.breadcrumbs__item:last-child:after {
  display: none;
} 
.breadcrumbs__link {
  font-style: italic;
  font-size: 16px;
  opacity: .9;
  color: #3A5BBF;
}
/* .breadcrumbs__item--active .breadcrumbs__item {
  color: #000;
} */
.breadcrumbs__item--active .breadcrumbs__link {
  text-decoration: none;
  color: #000;
}