.contacts {
  text-align: right;
  padding-right: 45px;
}
.contacts__phone {
  font-size: 21px;
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}
.contacts__s—Åheudle {
  position: relative;
  top: -5px;
}
.contacts__scheudle-container {
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  opacity: 0.7;
  letter-spacing: .05em;
  margin-right: -4px;
}
.contacts__scheudle-container:hover {
  opacity: 1;
  cursor: pointer;
}
.contacts__scheudle-container:hover .dropdown {
  right: 0;
  left: 12px;
}
