.dropdown {
  position: absolute;
  display: flex;
  background: white;
  padding-top: 18px;
  padding-right: 0px;
  padding-bottom: 15px;
  padding-left: 19px;
  top: 170%;
  left: -9999px;
  box-shadow: 4px 4px 2px 2px rgba(34, 60, 80, 0.12);;
  border-radius: 2%;
}
.dropdown::before {
  content: "";
  position: absolute;
  right: 2%;
  top: -10px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid white;
  /* content: "";
  display: block;
  top: -20px;
  right: 0;
  position: absolute;
  height: 20px;
  width: 100%; */
}

.dropdown__sсheudle-item {
  font-size: 14px;
  color: #3A5BBF;
  font-weight: bold;
  text-align: left;
  letter-spacing:normal;
}
.dropdown__sсheudle-item--break {
  color: black;
  font-weight: normal;
}
.dropdown__sсheudle {

}