.feeds {
  /* width: 882px; */
  margin-bottom: 59px;
}
.feeds__head {
  font-size: 49px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 71px;
}
.feeds__item {
  /* margin-top: 30px; */
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
/* .feeds__img, .feeds__specification {
  display: inline-block;
} */
.feeds__avatar {
  max-width: 160px;
  width: 20%;
  background-image: url(./../../img/Object@.png);
  overflow: hidden;
  border-radius: 50%;
}
.feeds__specification {
  width: 80%;
  font-size: 16px;

}
.feeds__date {
  font-weight: lighter;
}
.rectangle {
  height: 3px;
  background-color: #F4F4F4;
  margin: 30px 0px;
}