.partners__title {
  color: #262424;
  font-size: 49px;
  font-weight: bold;
  padding-top: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.partners__wrapper {
  width: 100%;
}
/* .partners__frame {
  
} */
.partners__list {
  width: 100%;
  padding: 40px 60px;
  display: flex;
  flex-wrap: wrap;
}
.partners__item {
  flex: 1 1 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  /* width: 33%; */
  /* margin-bottom: 50px;
  margin-right: 100px; */
}
.partners {
  width: 162px;
  height: 65px;
  opacity: .5;
  transition: opacity .3s;
  /* flex: 1 1 162px; */
}
.partners:hover {
  opacity: 1;
  cursor: pointer;
}

.partners__tetra {
  background: url(./../../img/logos.png) -148px -343px;
}

.partners__oneair {
  background: url(./../../img/logos.png) -262px -176px;
}

.partners__bmp{
  background: url(./../../img/logos.png) -290px -43px;
}

.partners__ural {
  background: url(./../../img/logos.png) -43px -193px;
}

.partners__bing {
  background: url(./../../img/logos.png) -43px -43px;
}
.partners__siberian {
  background: url(./../../img/logos.png) -9px -343px;
}